:root {
    --accent-color: #6d6dec;
    --dark-accent-color: #3636bb;
    --padding: 20px;
}

body.dark-theme {
    --dark-bg: #333030;
    --light-bg: #464141;
    --dark-border: #2f2727;
    --light-border: #6b6969;
    --dark-color: #fff;
    --light-color: #fff;
}

body.blue-theme {
    --dark-bg: #1a1b23;
    --light-bg: #343744;
    --dark-color: #fff;
    --light-color: #fff;
    --light-border: #545867;
    --dark-border: #26282d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 17px;
    background-color: var(--light-bg);
}

select {
    background-color: var(--dark-bg);
    border: 1px solid var(--light-border);
    color: var(--light-color);
    padding: 6px 10px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}

.header {
    background-color: var(--dark-bg);
    padding: var(--padding);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.right_header {
    display: flex;
}

.logo {
    width: 200px;
    height: 100%;
    display: flex;
}

.logo > span {
    display: flex;
    align-items: flex-end;
    color: var(--accent-color);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 5px 0;
}

.framework-version {
    color: #fff;
    background: var(--light-bg);
    text-align: center;
    align-items: center;
    display: flex;
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 14px;
    height: max-content;
}

.version {
    color: var(--accent-color);
    margin-left: 10px;
    font-weight: 600;
}

.change_theme {
    margin-right: 10px;
}

.change_theme > select {
    background-color: var(--light-bg);
    color: var(--dark-color);
}

.main {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: var(--padding);
    height: 100vh;
    padding-top: var(--padding);
    padding-inline: var(--padding);
}

.menu {
    border-radius: 0 7px 7px 0;
    height: 100%;
    background-color: var(--accent-color);
}

.content {
    border-radius: 7px 0 0 7px;
    background-color: var(--dark-bg);
    border: 1px solid var(--light-border);
    height: max-content;
}

.navigation {
    display: flex;
    flex-flow: column;
}

.navigation > a {
    text-decoration: none;
}

.navigation_item {
    list-style-type: none;
    color: #fff;
    position: relative;
    padding: 10px 10px 0;
}

.navigation_item i {
    margin-right: 10px;
    opacity: 0.6;
}

.navigation_item > ul {
    margin-left: 20px;
}

.menu > .navigation li {
    padding: 15px;
}

.navigation_item > ul li {
    padding: 15px!important;
    padding-bottom: 0!important;
}

.navigation_item > ul li:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 100%;
    left: 0;
    top: 50%;
    transform: translateY(50%);
}

/*profiling*/
.profiling__header {
    border-bottom: 1px solid var(--light-border);
    width: 100%;
    padding: 20px;
    height: max-content;
    display: flex;
    flex-flow: wrap;
    font-size: 15px;
}

.profiling__header > div {
    margin-right: 20px;
}

.profiling-reports_items {
    display: flex;
    flex-flow: column;
    margin-left: 15px;
}

.profiling__header-title {
    color: var(--light-color);
    margin-bottom: 10px;
}

.profiling-reports_items > span {
    color: var(--light-color);
}

.report_id {
    color: var(--accent-color);
}

.comparison-statistics {
    display: flex;
    margin-bottom: 15px;
    width: 200px;
}

.green-square {
    width: 15px;
    height: 15px;
    background-color: #24ea24;
    display: block;
    margin-right: 7px;
}

.red-square {
    width: 15px;
    height: 15px;
    background-color: #ff3737;
    display: block;
    margin-right: 7px;
}

.orange-square {
    width: 15px;
    height: 15px;
    background-color: #ffa332;
    display: block;
    margin-right: 7px;
}

.red-text {
    color: #ff3737;
}

.orange-text {
    color: #ffa332;
}

.green-text {
    color: #24ea24;
}

.blue-text {
    color: var(--accent-color);
}

.report_sum-text {
    color: var(--light-color);
    margin-bottom: 10px;
    margin-top: 12.5px;
    padding-top: 12.5px;
}

.comparison-statistics_wrap {
    position: relative;
}

.comparison-statistics_wrap:before {
    content: "";
    position: absolute;
    justify-content: flex-end;
    width: 20px;
    margin-left: auto;
    margin-right: 0;
    right: 45px;
    height: 100%;
    border: 1px dashed var(--light-border);
    border-left: 0;
    line-height: 90px;
}

.comparison-statistics_wrap:after {
    content: attr(data-comparison);
    color: orange;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.profiling__content {
    padding: var(--padding);
}

.profiling_table {
    width: 100%;
    border-collapse: collapse;
}

.profiling-table_head {
    background: var(--light-bg);
}

.profiling-table_head th {
    font-weight: 600;
    color: #fff;
    text-align: left;
    padding: 10px 10px;
}

.profiling-table_body td {
    color: #fff;
    padding: 7px 0 7px 10px;
}

.profiling-table_body td:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
}

.profiling-table_body tr {
    border-bottom: 1px solid var(--light-border);
}

.function_actions {
    display: flex;
    flex-flow: column;
}

.function_actions > a {
    text-decoration: none;
    color: #fff;
    padding: 5px 7px;
    margin-bottom: 5px;
    border-radius: 3px;
    text-align: center;
}

.function_action.green {
    background: green;
}

.function_action.blue {
    background: var(--accent-color);
}

.function_action.red {
    background: #ff3737;
}

.list_reports {
    padding: var(--padding);
}

.added-reports-for-compare {
    min-height: 50px;
    border: 1px solid var(--light-border);
    height: max-content;
    display: flex;
    flex-flow: wrap;
    border-radius: 10px;
    width: 510px;
    max-height: 150px;
    overflow: auto;
}

.added-reports-for-compare::-webkit-scrollbar {
    width: 5px;
    background: var(--light-bg);
    border-radius: 0 5px 5px 0;
}

.added-reports-for-compare::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 5px;
}

.added-reports-for-compare > span {
    background-color: var(--light-bg);
    color: var(--dark-color);
    padding: 4px 7px;
    display: block;
    width: max-content;
    height: max-content;
    margin: 5px;
    font-size: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.added-reports-for-compare > span.removed {
    transform: scale(0);
}

.added-reports-for-compare i {
    opacity: 0.5;
    cursor: pointer;
    margin-right: 5px;
}

.added-reports-for-compare i:hover {
    opacity: 0.2;
}

.wrap_to_column {
    display: flex;
    flex-flow: column;
}

.section_create-compare {
    margin: 20px;
}

.section_create-compare > span {
    color: var(--light-color);
    margin-bottom: 8px;
    opacity: 0.6;
}

.wrap_sections_create-compare {
    display: flex;
}

.btn {
    overflow: hidden;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: opacity 0.3s ease-in-out;
}

.btn:hover {
    opacity: 0.8;
}

.btn.green {
    background-color: green;
}

.btn.blue {
    background-color: var(--accent-color);
}

.btn_add-report {
    margin-left: var(--padding);
}

.wrap_section-add-hash {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-border);
}

.container_more-details {
    display: flex;
    flex-flow: column;
    padding: var(--padding);
}

.wrap-more-detail {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--light-border);
    padding: var(--padding);
    justify-content: space-between;
}

.more-detail_title {
    position: relative;
    color: var(--accent-color);
    margin-right: 60px;
}

.more-detail_value {
    color: var(--light-color);
}

.more-detail_title:before {
    content: ':';
    position: absolute;
    right: -5px;
    color: var(--light-color);
}